.cabinet-wrap {
    display: flex;
    min-height: 100vh;
}
.cabinet-wrap__menu {
    width: 20%;
    min-width: 240px;
    background: var(--main-color);
    padding: 30px 0;
}
.cabinet-wrap__content {
    background: #F9F9F9;
    width: 80%;
    overflow: hidden;
}
.cabinet-wrap__content-inner {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    height: 100%;
}
.mobile-menu_wrap-left-block{
    display: none;
}
