.cabinet__title-wrap {
    position: relative;
}
.cabinet__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.cabinet__title_mb-0 {
    margin-bottom: 0;
}
.cabinet__title-back {
    position: absolute;
    top: 8px;
    right: calc(100% + 40px);
    transform: rotate(180deg);
    width: 20px;
    height: 15px;
}
