.fc-unthemed th {
    border: none;
}
.fc-unthemed td.fc-head-container {
    border: none;
}
/*.fc-unthemed thead {*/
/*    border: none;*/
/*}*/
/*.fc-unthemed .fc-row {*/
/*    border: none;*/
/*}*/
.fc-day.fc-past {
    background: repeating-linear-gradient(
            55deg,
            #F7F7F7 0px,
            #F7F7F7 5px,
            #E6E6E6 5px,
            #E6E6E6 6px
    );
}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: left;
    margin: 10px 0 0 15px;
}
.fc-unthemed td.fc-today {
 background: none;
}
.fc-unthemed td.fc-today .fc-day-number {
    position: relative;
    display: inline-block;
    color: #fff;
}
.fc-unthemed td.fc-today .fc-day-number:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: var(--danger-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}
.fc-event {
    background-color: var(--main-color);
}
.fc-unthemed .fc-content {
    border: none;
}
.fc-event {
    border: none;
    background: #EFF5FF;
    color: #64A0FF;
    font-weight: 800;
    height: auto;
}
.fc-event:hover{
    color: #64A0FF;
}
.fc-unthemed td.fc-sat .fc-day-number{
    color: #64A0FF;
}
.fc-unthemed .fc-sun .fc-day-number{
    color: #64A0FF;
}
.fc-day.fc-sat {
    background-color: #F0F3F8;
}
.fc-day.fc-sun {
    background-color: #F0F3F8;
}
.fc-event{
    text-align: center;
    font-size: 10px;
}
.fc-content{
    height: 25px;
    line-height: 25px;
    position: relative;
    margin-top: 5px;
}
.fc-content:after{
    content: '';
    width: 2px;
    height: 25px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #64A0FF;
}
.fc-day.fc-sat.fc-past:after {
    background-color: #F0F3F8;
    content: '';
    position: absolute;
    width: 117px;
    height: 97px;
    opacity: .4;
}
.fc-day.fc-sun.fc-past:after {
    background-color: #F0F3F8;
    content: '';
    position: absolute;
    width: 117px;
    height: 97px;
    opacity: .4;
}
.fc-right{
    border: 5px solid #efefef;
    border-radius: 22px;
    background: #efefef;
    margin-right: 15px;
}
.fc-right .fc-timeGridDay-button{
    background: #efefef;
    border: none;
    min-width: 105px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 0;
    text-transform: uppercase;
    color: #C9C9C9;
    cursor: pointer;
    outline: none;
}
.fc-right button:first-child{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.fc-right button:last-child{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.fc-right .fc-dayGridMonth-button {
    background: #efefef;
    border: none;
    min-width: 105px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 0;
    text-transform: uppercase;
    color: #C9C9C9;
    cursor: pointer;
    outline: none;
}
.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active{
    background: var(--main-color);
    color: #fff;
}
.fc-timeGridWeek-button.fc-button-primary{
    background-color: #fff;
    color: #C9C9C9;
    border-color: #fff;
    border-radius: 0 25px 25px 0;
}
.fc-day-grid-event{
    margin: unset;
    cursor: pointer;
}
.fc-center .fc-button-group{
    /* position: absolute; */
    /* left: 40%; */
    /* top: 35px; */
    /* width: 400px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fc-center .fc-button-group .fc-prev-button{
    margin-right: 40px;
}
.fc-center .fc-button-group .fc-next-button{
    margin-left: 40px;
}
.fc-header-toolbar .fc-button-group{
    margin: unset;
}
.fc-prev-button{
    background-color: transparent;
    border-color: transparent;
}
.fc-next-button{
    background-color: transparent;
    border-color: transparent;
}
.fc-button{
    line-height: unset;
}
.fc-button-primary:not(:disabled):active:focus, .fc-button-primary:not(:disabled).fc-button-active:focus{
    box-shadow: unset;
}
.fc-toolbar > * > :not(:first-child){
    margin-left: unset;
}
.fc-button-primary:hover{
    color: unset;
    background-color: unset;
    border-color: unset;
    border: none;
}
.fc-button-primary{
    color: #1e2b37;
}
.fc-button-primary:focus{
    box-shadow: unset;
}
.fc-prev-button{
    width: 45px !important;
    height: 40px;
}
.fc-next-button{
    width: 45px !important;
    height: 40px;
}
.fc-toolbar.fc-header-toolbar{
    margin-bottom: 22px;
}
.fc-widget-header .fc-mon span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #989DA3;
    font-size: 12px;
    line-height: 15px;
}
.fc-widget-header .fc-mon {
    height: 40px;
}
.fc-widget-header .fc-tue span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #989DA3;
    font-size: 12px;
    line-height: 15px;
}
.fc-widget-header .fc-tue{
    height: 40px;
}
.fc-widget-header .fc-wed span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #989DA3;
    font-size: 12px;
    line-height: 15px;
}
.fc-widget-header .fc-wed{
    height: 40px;
}
.fc-widget-header .fc-thu span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #989DA3;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
}
.fc-widget-header .fc-thu{
    height: 40px;
}
.fc-widget-header .fc-fri span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #989DA3;
    font-size: 12px;
    line-height: 15px;
}
.fc-widget-header .fc-fri{
    height: 40px;
}
.fc-widget-header .fc-sat span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #989DA3;
    text-transform: uppercase;
}
.fc-widget-header .fc-sat {
    height: 40px;
}
.fc-widget-header .fc-sun span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #989DA3;
    font-size: 12px;
    line-height: 15px;
}
.fc-widget-header .fc-sun{
    height: 40px;
}
.fc-unthemed .fc-header-toolbar{
    display: none;
}
/*  */
.fc-center h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #323C47;
}
.fc-left h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #323C47;
}
.fc-center .fc-button-group .fc-button{
    flex: unset;
}
.fc-center .fc-button-group .fc-button-primary{
    background: unset;
    color: unset;
}
.fc-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fc-content span{
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    font-family: 'Montserrat', sans-serif;
}
.fc-content{
    padding-left: 12px;
}
.fc-day-number{
    font-size: 14px;
    line-height: 14px;
    color: #323C47;
    font-weight: 400;
    z-index: 50;
}
.fc-content-col .fc-content:after{
    height: 100%;
}
.fc-content-col .fc-content{
    height: 100%;
    margin-top: 0;
}
.fc-content-col .fc-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.fc-content-col .fc-time-grid-event.fc-not-end {
    padding-bottom: unset;
    margin-left: 10px;
}
.fc-content-col .fc-time-grid-event.fc-end {
    margin-left: 10px;
}
.fc-content-col .fc-event{
    width: 100%;
}
.fc-content-col .fc-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
}
.fc-content-col .fc-content .fc-title{
    padding-top: 10px;
}
.event-past-end .fc-content:after{
    background-color: #989DA3;
}
.event-past-end.fc-event{
    background: #F4F5F5;
    color: #989DA3;
}
.fc-time-grid .fc-slats td{
    height: 42px;
}
.fc-day-grid .fc-slats tbody{
    border-left: none;
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header, .fc-unthemed .fc-list-heading td{
    background: unset;
}
.fc-axis span{
    font-size: 14px;
    line-height: 14px;
    color: #4A4A4A;
}
tr:first-child > td > .fc-day-grid-event{
    margin-top: 7px;
}
.fc-past .fc-day-number{
    color: #989DA3;
}
.fc-widget-content{
    /* border-left: #ddd !important; */
}
.fc-week .fc-bg table tbody{
    background: #F7F7F7;
}
.fc-week .fc-bg table tbody tr td.fc-today{
    background: #F7F7F7;
}
.wrap-content-calendar{
    margin-bottom: 20px;
}
tr td.fc-axis {
    border-left: unset !important;
    border-width: unset !important;
    border-style: unset !important;
}
hr.fc-divider{
    display: none;
}
.fc .fc-axis{
    padding: 0 15px 0 0;
}
.fc-now-indicator{
    border: 0 solid #64A0FF;
}
.fc-timeGridDay-view table tbody tr td.fc-widget-content{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: relative;
}
.fc-timeGridDay-view .fc-slats .fc-widget-content{
    /* border-top: unset; */
    /* border-left: unset; */
    /* border-bottom: unset; */
    border: 1px solid #ddd;
}
.fc-slats tbody:after{
    content: '';
    border-right: 1px solid #ddd;
    height: 100%;
    width: 1px;
    right: 0;
    top: 0;
    position: absolute;
}

.fc-time-grid .fc-slats tbody tr:first-child td:nth-child(2){
/* .fc-time-grid .fc-slats tbody tr:last-child td:nth-child(2) { */
    position: relative;
}
.fc-time-grid .fc-slats tbody tr:first-child td:nth-child(2):after{
/* .fc-time-grid .fc-slats tbody tr:last-child td:nth-child(2):after { */
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}
.fc-time-grid .fc-slats tbody tr:last-child td:nth-child(2):after  {
    top: auto;
    bottom: 0;
}
.fc-time-grid .fc-now-indicator-line{
    left: -55px;
}
.fc-today .fc-day-number{
    color: #fff !important;
}
.add-events{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    bottom: 0;
    z-index: 100;
    border-radius: 50px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: unset;
}
.add-events-day{
    position: absolute;
    right: 2px;
    width: 40px;
    height: 40px;
    /* bottom: 49px; */
    bottom: 0px;
    z-index: 100;
    border-radius: 50px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: unset;
}
.wrap-content{
    position: relative;
}
.calendar-event-add img{
    width: 40px;
    height: 40px;
}
.img-events{
    width: 10px;
    height: 10px;
}
.img-event{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.wrap-avater-event{
    margin-right: 10px;
}
.title-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fc-timeGridDay-view .fc-event-container a.fc-event{
    bottom: unset !important;
}
.fc-timeGridDay-view .fc-event-container a.fc-time-grid-event:after{
    content: '';
    height: 100%;
    width: 2px;
    background-color: #64A0FF;
    position: absolute;
    left: 0px;
    top: 0px;
}
.block-event-content{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.wrap-title-day{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-title-day{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 900;
}
.main-title-day-video{
    color: #FF5151;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 900;
}
.main-text-day-video{
    color: #FF5151;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
}
.main-text-day{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
}
.wrap-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 34px;
    padding-top: 10px;
}
.description-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 16px;
    color: #323C47;
    font-weight: 900;
}
.description-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 16px;
    color: #323C47;
    font-weight: 400;
}
.block-event-content-video{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.block-event-content-video:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #FF5151;
    z-index: 100;
}
.fc-timeGridDay-view .fc-head{
    display: none;
}
/*.wrap-calendar-header-day{*/
    /*max-width: 820px;*/
/*}*/
.block-day-numeric {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #989DA3;
    font-weight: 400;
    transition: .3s;
}
.block-day-header:hover .block-day-numeric,
.block-day-header.active .block-day-numeric {
    color: var(--main-color);
}
.block-day-numeric.today:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: var(--danger-color);
    transform: translate(-50%, -20%);
    border-radius: 50%;
}
.block-day-numeric.today{
    position: relative;
}
.block-day-numeric.today span{
    z-index: 2;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    color: #fff;
}
.wrap-calendar-header-day {
    display: flex;
    margin: 0 0 10px 60px;
    justify-content: space-between;
}
/*.block-day-header{*/
    /*width: 117.2px;*/
/*}*/
.block-day-header{
    text-align: center;
    cursor: pointer;
    transition: .3s;
    position: relative;
}
.block-day-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #989DA3;
    font-weight: 400; 
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}
.block-day-header:hover .block-day-name,
.block-day-header.active .block-day-name {
    color: var(--main-color);
}
.block-day-header.active .block-day-numeric,
.block-day-header.active .block-day-name {
    color: var(--main-color);
    font-weight: 900;
}
.word-day{
    color: #323C47;
}

.current-date:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 32px;
    height: 32px;
    background: var(--danger-color);
    border-radius: 50%;
    transform: translate(-50%, 50%);
}
.current-date .block-day-numeric{
    z-index: 2;
    position: relative;
    color: #fff !important;
}
.current-date .block-day-numeric{
    font-weight: 400 !important;
}
.current-date .block-day-name{
    color: #323C47 !important;
    font-weight: 300 !important;
}
.fc-timeGridDay-view .fc-body .fc-widget-content tbody tr:last-child td:last-child:after{
    content: '';
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.specialists-skills_wrap-mobile-block{
    display: none;
}


