.calendar-tooltip {
    position: absolute;
    background: var(--main-color);
    border-radius: 10px;
    z-index: 999;
    max-width: 50%;
    /*width: 370px;*/
}
/*.calendar-tooltip:after {*/
    /*content: none;*/
    /*position: absolute;*/
    /*right: 100%;*/
    /*top: 15px;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-style: solid;*/
    /*border-width: 5px 10px 6px 0;*/
    /*border-color: transparent var(--main-color) transparent transparent;*/
/*}*/

.calendar-tooltip__triangle {
    width: 10px;
    height: 10px;
    top: 15px;
    left: -5px;
    position: absolute;
    transform: rotate(45deg);
    background: var(--main-color);
}

/* start position calendar*/

/*month-specialist*/
.calendar-tooltip.top-left {
    transform: translate(15px, -10px);
}
.calendar-tooltip.top-left:after {

}
.calendar-tooltip.top-right {
    transform: translate(-15px, -10px);
}
.calendar-tooltip.top-right .calendar-tooltip__triangle {
    left: auto;
    right: -5px;
}
.calendar-tooltip.bottom-left {
    transform: translate(15px, 10px);
}
.calendar-tooltip.bottom-left .calendar-tooltip__triangle {
    top: auto;
    bottom: 15px;
}
.calendar-tooltip.bottom-right {
    transform: translate(-15px, 10px);
}
.calendar-tooltip.bottom-right .calendar-tooltip__triangle {
    left: auto;
    top: auto;
    right: -5px;
    bottom: 15px;
}

/*day-specialist*/
.calendar-tooltip_day-specialist.calendar-tooltip.bottom-left {
    transform: translate(0, 40px);
}
.calendar-tooltip_day-specialist.calendar-tooltip.top-left {
    transform: translate(0px, 0px);
}

/*end position calendar*/

.calendar-tooltip_month-specialist{
    max-width: 100%;
    width: 370px;
}
.calendar-tooltip_day-specialist{
    max-width: 100%;
    width: 370px;
}
.calendar-tooltip_month-client{
    max-width: 100%;
    width: 375px;
}




.calendar-right:after{
    left: 100%;
    transform: scaleX(-1);
}
.calendar-right{
    transform: translate(0, -10px);
}

.calendar-tooltip{
    height: auto !important;
}
.calendar-tooltip__name{
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.calendar-tooltip__img-type{
    width: 16px;
    height: 16px;
    position: absolute;
    left: -30px;
    top: 20px;
}
.calendar-tooltip__img-main{
    width: 14px;
    height: 18px;
    position: absolute;
    left: -30px;
    top: 20px;
}
.calendar-tooltip__date-time{
    font-size: 12px;
    line-height: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba( 255, 255, 255, .5);
    padding-top: 10px;
}
.calendar-tooltip__text-type,.calendar-tooltip__title-main,.calendar-tooltip__date-title{
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 20px
}
.calendar-tooltip__title-main-content{
    line-height: 14px;
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 20px
}
.calendar-tooltip__text-main-content{
    line-height: 22px;
    font-size: 12px;
    color: rgba( 255, 255, 255, .5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 25px;
}
.calendar-tooltip__text-month{
    padding-top: 10px;
}
.calendar-tooltip__text-main{
    line-height: 22px;
    font-size: 12px;
    color: rgba( 255, 255, 255, .5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 25px;
}
.calendar-tooltip__wrap-month .calendar-tooltip__img-type{
    top: 50%;
}
.calendar-tooltip__btn{
    width: 100px;
    height: 35px;
    background-color: #fff;
    border-radius: 25px;
    color: #64A0FF;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 50px
}
.calendar-tooltip__wrap-main,.calendar-tooltip__wrap-type{
    display: flex;
    align-items: flex-start;
    position: relative;
}
.calendar-tooltip__wrap-main-content{
    display: flex;
    align-items: flex-start;
    position: relative;
}

.calendar-tooltip__content{
    padding-left: 50px;
    padding-right: 44px;
}
.calendar-tooltip__wrap-content{
    padding-left: 50px;
    padding-right: 44px;
}
.calendar-tooltip__date-wrap,
.calendar-tooltip__wrap-title{
    position: relative;
}
.calendar-tooltip__btn-month{
    margin-bottom: 40px;
    margin-top: 20px;
}
.calendar-tooltip__wrap-time{
    display: flex;
    flex-direction: column;
}
.calendar-tooltip__wrap-blok-event{
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
}
.calendar-tooltip__title-event:first-child{
    /* padding-right: 20px; */
    width: 142px;
    text-align: left;
}
.calendar-tooltip__title-event{
    padding-right: 50px;
    text-align: center;
}
.calendar-tooltip__event-title{
    font-size: 12px;
    line-height: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 8px;
}
.calendar-tooltip__title-event{
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
.calendar-tooltip__wrap-event-content{
    display: flex;
    flex-direction: column;
}
.calendar-tooltip__wrap-right-block{
    display: flex;
}
.calendar-tooltip__type-min{
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 28px;
}
.calendar-tooltip__type-min:first-child{
    margin-top: 14px;
}
.calendar-tooltip__type-min:last-child{
    margin-bottom: 100px;
}

.calendar-tooltip__wrap-checkbox{
    display: flex;
    align-items: center;
}
.calendar-tooltip__checkbox{
    margin-top: 20px;
}
.calendar-tooltip__wrap-blok-event:last-child{
    margin-bottom: 60px;
}
.calendar-tooltip__text-main{
    width: 360px;
}

.calendar-tooltip__btn-apply{
    border: 1px solid transparent;
    font-size: 12px;
    min-width: 150px;
    background: transparent;
    border-color: #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    padding: 15px 40px;
    text-decoration: none;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.calendar-tooltip__btn-apply:hover{
    background-color: #fff;
    color:  #64A0FF;
}

.calendar-tooltip_custom-select__selected{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 30px;
    padding: 0px 15px;
    font-size: 12px;
    line-height: 35px;
    vertical-align: center;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    color: #495057;
    background-color: #fff;
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    /* margin-bottom: 15px; */
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  /* background: #e6e6e6; */
  background: inherit;
  border-radius: 50px;
  border: 2px solid #fff;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  /* background: #ccc; */
}
.control input:checked ~ .control__indicator {
  /* background: #2aa1c0; */
  background: inherit;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  /* background: #0e647d; */
  background: inherit;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  /* left: 8px; */
  /* top: 4px; */
  left: 40%;
  top: 20%;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.calendar-tooltip__wrap-checkbox{
    padding-right: 20px;
}

.calendar-tooltip__close{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    transition: .3s;
}
.calendar-tooltip__close:hover {
    transform: translateY(-50%) rotate(180deg);
}
.calendar-tooltip__close:before,
.calendar-tooltip__close:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #fff;
}
.calendar-tooltip__close:before{
    transform: rotate(-45deg)
}
.calendar-tooltip__close:after{
    transform: rotate(45deg)
}

.calendar-tooltip_consultation-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.calendar-tooltip_description{
    margin-bottom: 20px;
    position: relative;
    color: #fff;
}