.call-partner-modal {
    text-align: center;
}
.call-partner-modal_avatar-wrap {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*border: 10px solid var(--main-color);*/
    margin: 0 auto 30px;
    position: relative;
}
.call-partner-modal_avatar-wrap:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid var(--main-color);
    animation: scale 2s infinite;
}
.call-partner-modal_avatar-wrap img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
    display: inline-block;
}
.call-partner-modal__fio,
.call-partner-modal__info {
    font-size: 24px;
    font-weight: 600;
    color: var(--darck-color);
    /*margin-bottom: 10px;*/
}
.call-partner-modal__info {
    margin-bottom: 10px;
}
.call-partner-modal__solves {
    font-size: 14px;
    color: var(--grey-color);
    margin-bottom: 15px;
}
.call-partner-modal__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.call-partner-modal__actions-cancel,
.call-partner-modal__actions-video {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
.call-partner-modal__actions-cancel:hover,
.call-partner-modal__actions-video:hover {
    transform: scale(1.1);
}
.call-partner-modal__actions-cancel {
    background: var(--danger-color);
    position: relative;
    margin-right: 20px;
}
.call-partner-modal__actions-cancel:after,
.call-partner-modal__actions-cancel:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 23%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
}
.call-partner-modal__actions-cancel:after {
    transform: translate(-50%,-50%) rotate(45deg);
}
.call-partner-modal__actions-cancel:before {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.call-partner-modal__actions-video {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.call-partner-modal__actions-video img{
    display: inline-block;
    max-width: 100%;
    width: 24px;
}

@keyframes scale {
    0%   {
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%,-50%) scale(1.3);
        opacity: 0;
    }

}
