.custom-table_sort-by {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: .3s;
}
.custom-table_sort-by:hover {
    color: #000;
}
.custom-table_sort-by-desc:after,
.custom-table_sort-by-asc:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: calc(100% + 7px);
    top: 50%;
    transform: translateY(-50%);
}
.custom-table_sort-by-desc:after {
    background-image: url('../../img/ico/down.svg');
}
.custom-table_sort-by-asc:after {
    transform: translateY(-50%) rotate(180deg);
    background-image: url('../../img/ico/down.svg');
}
.custom-table {
    display: flex;
    flex-direction: column;
}
.custom-table_m-t-b {
    margin: 20px 0;
}
.custom-table__thead,
.custom-table__tbody {
    display: flex;
    flex-direction: column;
}
.custom-table_tr {
    display: flex;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    transition: .3s;
}
.custom-table_date {
    font-size: 14px;
    margin: 30px 0;
    text-align: center;
}
a.custom-table_tr:hover {
    background: #fff;
    box-shadow: 0 2px 34px 0px rgba(0,0,0, .1);
}
a.custom-table_tr:hover .custom-table_hover-color {
    color: var(--darck-color);
}
a.custom-table_tr:hover .custom-table_font-big {
    color: #000;
}
.custom-table_th,
.custom-table_td {
    padding: 13px;
    color: var(--grey-color);
    font-size: 12px;
    line-height: 1.2;
}
.custom-table_font-big {
    font-size: 14px;
    transition: .3s;
}
.custom-table_font-bold {
    font-weight: 600;
    color: var(--darck-color);
    width: 70%;
}
.custom-table_font-biggest {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    width: 15%;
}
.custom-table_tr .custom-table_td.first-child-td {
    text-align: right;
    padding-right: 0;
}
.custom-table_header-tab,
.media-large-none{
    display: none;
}
/*.custom-table_th-first {*/
/*    text-align: right;*/
/*}*/
/*.custom-table_td-first {*/
/*    text-align: right;*/
/*}*/
