.end-consultation-modal {

}
.end-consultation-modal__time {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--danger-color);
}
.end-consultation-modal__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--darck-color);
    line-height: 1.4;
    margin-bottom: 10px;
}
.end-consultation-modal__info {
    font-size: 14px;
    color: #4A4A4A;
    line-height: 1.4;
    margin-bottom: 15px;
}
