.cabinet-side-bar {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.cabinet-side-bar__body {
    flex: auto;
}
.cabinet-side-bar__header {
    padding: 0 20px 0 40px;
    margin-bottom: 20px;
}
.cabinet-side-bar__header-logo {
    max-width: 135px;
    display: inline-block;
    margin-bottom: 30px;
}
.cabinet-side-bar__header-user-info {
    display: flex;
    align-items: center;
}
.header-user-info-pic {
    position: relative;
    margin-right: 10px;
}
.header-user-info-pic__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
}
.header-user-info-pic__status {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.header-user-info-pic__status.online {
    background: green;
}
.header-user-info-pic__status.offline {
    background: red;
}
.header-user-info-about {
    color: #fff;
}
.header-user-info-about__name,
.header-user-info-about__surname {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
}
.header-user-info-about__status {
    font-size: 10px;
}

.cabinet-side-bar__menu {
    padding: 0;
    margin: 0;
}
.cabinet-side-bar__menu li {
    display: block;
    margin-bottom: 15px;
}
.cabinet-side-bar__menu li a {
    text-decoration: none;
    color: #fff;
    padding: 13px 0 13px 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: relative;
    opacity: .4;
    transition: .3s;
}
.cabinet-side-bar__menu-icon {
    margin-right: 18px;
    display: inline-block;
}
.cabinet-side-bar__menu-text {

}
.cabinet-side-bar__menu li a:after {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    top: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.cabinet-side-bar__menu li a:hover,
.cabinet-side-bar__menu li a.active {
    background: rgba(256, 256, 256, .2);
    opacity: 1;
}
.cabinet-side-bar__menu li a:hover:after,
.cabinet-side-bar__menu li a.active:after {
    opacity: 1;
    visibility: visible;
}
.cabinet-side-bar__footer {
    padding: 0 40px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.cabinet-side-bar__footer p {
    line-height: 1.8;
}
