.quick-statistics {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.quick-statistics__item {
    text-decoration: none;
    width: 33.3%;
    padding: 30px 30px 45px;
    text-align: center;
    color: var(--grey-color);
    border-radius: 5px;
    transition: .3s;
}
.quick-statistics__icon svg {
    width: 24px;
    height: 25px;
    margin-bottom: 25px;
}
.quick-statistics__count {
    font-size: 32px;
    font-weight: 600;
}
.quick-statistics__title {
    font-size: 14px;
    margin-bottom: 35px;
    font-weight: 600;
}
.quick-statistics__status {
    font-size: 14px;
    transition: .3s;
}
.quick-statistics__item:hover {
    background: #fff;
    color: var(--darck-color);
    box-shadow: 0 0 11px 2px rgba(0,0,0,.1);
}
.quick-statistics__item:hover .quick-statistics__status{
    color: var(--main-color);
}
.quick-statistics__item:hover .quick-statistics__icon .quick-statistics__icon_g {
    fill: var(--main-color);
}
