.chat-review__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--darck-color);
    line-height: 1.4;
    margin-bottom: 10px;
}
.chat-review__sub-title {
    font-size: 14px;
    color: #4A4A4A;
    line-height: 1.4;
    margin-bottom: 10px;
}
.review-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
}
.review-star input[type='radio'] {
    display: none;
}

.review-star input[type='radio'] + label {
    display: inline-block;
    width: 35px;
    height: 34px;
    background: url("../../img/ico/star_empty.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.review-star input[type='radio']:checked + label,
.review-star input[type='radio'] + label:hover,
.review-star input[type='radio'] + label:hover  ~ label,
.review-star input[type='radio']:checked + label  ~ label {
    background: url("../../img/ico/star.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
