.settings-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.settings-header__avatar {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.settings-header__avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}
.settings-header__avatar-photo {
    position: absolute;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.settings-form-title {
    font-size: 16px;
    margin-bottom: 15px;
}
.settings-form-price-count {
    font-size: 14px;
    color: var(--grey-color);
    text-align: right;
}
.settings-payment-wrap {
    margin-top: 30px;
    padding: 50px 0;
    position: relative;
    z-index: 2;
}
.settings-payment-wrap:after {
    content: '';
    position: absolute;
    width: calc(100vw + 1000px);
    height: calc(100% + 30px);
    background: #EFF2F7;
    z-index: -1;
    top: 0;
    right: -1000px;
}
.settings-payment__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-payment-wrap_img {
    margin-top: -95px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.settings-payment-wrap_img img {
    display: inline-block;
    margin-right: 10px;
}
.settings-payment-wrap_img img:last-child {
    margin-right: 0;
}
.settings-payment__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}
.notification {

}
.notification__label {
    display: flex;
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 2;
    cursor: pointer;
    transition: .3s;
}
.notification__title {
    margin-bottom: 8px;
    font-size: 12px;
}
.notification__label-inner {
    width: 22px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    font-size: 8px;
    font-weight: 600;
    background: #fff;
    color: var(--main-color);
    display: inline-block;
    transition: .3s;
}
.notification__label:after {
    content: '';
    position: absolute;
    width: calc(200% + 6px);
    height: calc(100% + 6px);
    left: -3px;
    top: -3px;
    background: #e3e3e3;
    z-index: -1;
    border-radius: 30px;
}
.notification__input:checked + .notification__label:after {
    background: var(--main-color);
}
.notification__input:checked + .notification__label .notification__label-inner {
    transform: translateX(100%);
}
