.specialists-skills {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.specialists-skills-single__licenses {
    width: 40%;
}
.specialists-skills-single__focus {
    width: 20%;
}
.specialists-skills-single__approach {
    width: 40%;
}
.specialists-skills-single__inner {
    padding: 0 20px;
}
.specialists-skills-single__title {
    font-size: 12px;
    margin-bottom: 15px;
}
.specialists-skills-single__info {
    color: var(--grey-color);
    line-height: 1.4;
    font-size: 14px;
}
