.user-rating {
    position: relative;
}
.user-rating-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.user-rating-info.user-rating-info_small-mb {
    margin-bottom: 5px;
}
.user-rating-info__img {
    width: 100px;
    margin-right: 20px;
}
.user-rating-info__img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline;
}
.user-rating-info__about {
    flex: auto;
}
.user-rating-info__fio {
    width: calc(100% - 120px);
}
.user-rating-info__name {
    font-size: 24px;
    font-weight: 600;
}
.user-rating-info__box-intelligence {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-rating-info__box-intelligence-single-title {
    font-size: 12px;
    margin-bottom: 1px;
    color: var(--darck-color);
}
.user-rating-info__box-intelligence-single-count {
    font-size: 32px;
    font-weight: 600;
}
.user-rating-info__rating-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.user-rating-info__rating-count {
    margin-right: 20px;
}
.user-rating-info__rating-star {
    display: flex;
    align-items: center;
}
.user-rating-info__rating-star img {
    margin-right: 5px;
    width: 20px;
}
.user-rating-info__rating-count img:last-child {
    margin-right: 0;
}
