.table-nav__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.table-nav__nav-inner {
    transform: translateX(-80px);
}
.table-nav__nav-prev,
.table-nav__nav-next {
    border: none;
    background: none;
    cursor: pointer;
}
.table-nav__nav-prev:focus,
.table-nav__nav-next:focus {
    outline: none;
}
.table-nav__nav-prev[disabled],
.table-nav__nav-next[disabled] {
    opacity: .1;
    cursor: default;
}
.table-nav__nav-prev img {
    transform: rotate(-180deg);
}
.table-nav__nav-next img {
    /*transform: rotate(90deg);*/
}
.table-nav__nav-prev {

    margin-right: 30px;
}
.table-nav__nav-next {
    margin-left: 30px;
}
