.table-user-img {
    border-radius: 50%;
    /*margin-right: 10px;*/
    width: 40px;
    height: 40px;
}
.table-user-img__no-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    /*margin-right: 10px;*/
    color: #fff;
    /* background: var(--main-color); */
}

.table-user-star img {
    display: inline-block;
    margin-right: 7px;
    width: 20px;
}
