.table-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.table-filter__filters {
    border: 5px solid #efefef;
    border-radius: 22px;
    background: #efefef;
}
.table-filter__filters-btn {
    background: #efefef;
    border: none;
    min-width: 105px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 0;
    text-transform: uppercase;
    color:  #C9C9C9;
    cursor: pointer;
}
.table-filter__filters-btn:focus {
    outline: none;
}
.table-filter__filters-btn:first-child {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.table-filter__filters-btn:last-child {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.table-filter__filters-btn:hover,
.table-filter__filters-btn.active {
    background: var(--main-color);
    color: #fff;
}
