.user-reviews {

}
.user-reviews__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    /*color: #323C47;*/
}
.user-reviews__inner {
    display: flex;
    flex-wrap: wrap;
}
.user-reviews__box {
    width: 50%;
    /*padding-left: 40px;*/
    margin-bottom: 30px;
    display: flex;
    /*flex-direction: column;*/
}
.user-reviews-single {

}
.user-reviews-single__img {
    width: 100px;
    margin-right: 20px;
    text-align: right;
}
.user-reviews-single__img img {
    width: 40px;
    height: 40px;
    max-width: 100%;
    border-radius: 50%;
}
.user-reviews-single__no-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: var(--main-color);
}
.user-reviews-single__info {
    width: calc(100% - 120px);
    /*display: flex;*/
}
.user-reviews-single__name {
    font-size: 16px;
    line-height: 1;
    color: var(--darck-color);
    margin-bottom: 5px;
}
.user-reviews-single__last-active {
    font-size: 12px;
    color: var(--grey-color);
    margin-bottom: 7px;
}
.user-reviews-single__rating {
    margin-bottom: 5px;
}
.user-reviews-single__rating img {
    margin-right: 5px;
    display: inline-block;
    width: 20px;
}
.user-reviews-single__rating img:last-child {
    margin-right: 0;
}
.user-reviews-single__text {
    font-size: 14px;
    line-height: 1.4;
    color: var(--grey-color);
}
.read-all-reviews {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    box-shadow:  none;
    color: var(--main-color);
    cursor: pointer;
    margin-left: 120px;
    text-decoration: underline;
    padding: 0;
    transition: .3s;
}
.read-all-reviews:focus {
    outline: none;
}
.read-all-reviews:hover {
    text-decoration: none;
}
