.video-chat {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(-100%);
    transition: .3s;
    top: 0;
    left: 0;
    z-index: 10;
}
.video-chat.open {
    opacity: 1;
    transform: translateY(0);
}
.video-chat__bg {
    background: rgba(0,0,0,.86);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}
.video-chat__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 90%;
    max-width: 90%;
    transform: translate(-50%,-50%);
    z-index: 12;

    /*background-color: var(--main-color);*/
    background-image: url("../../img/avatar/face.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 95%;
    overflow-y: auto;
    transition: .3s;
}
.video-chat__wrap.fullWindow {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0;
}
.video-chat__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 40px;
    width: 100%;
    background: rgba(0,0,0,.75);
    display: flex;
    justify-content: space-between;
}
.video-chat__info {
    display: flex;
    align-self: center;
}
.video-chat__info-img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.video-chat__info-img img {
    max-width: 100%;
    border-radius: 50%;
}
.video-chat__info-user {
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
}
.video-chat__info-user-name {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}
.video-chat__info-time {
    font-size: 10px;
    color: #fff;
}
.video-chat__nav {
    display: flex;
    align-items: center;
    margin-left: 110px;
}

.video-chat__nav-call-end,
.video-chat__nav-full-window {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    transition: .3s;
}

.video-chat__nav-call-end:hover,
.video-chat__nav-full-window:hover {
    opacity: .7;
}

.video-chat__nav-call-end img,
.video-chat__nav-full-window img {
    display: inline-block;
    max-width: 100%;
}
.video-chat__nav-call-end {
    background: var(--danger-color);
    margin-right: 20px;
}
.video-chat__nav-full-window {
    background: #433F3B;
}
.video-chat__nav-conference {
    display: flex;
    margin-right: 10px;
}
.video-chat__nav-conference-video,
.video-chat__nav-conference-audio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background: #433F3B;
    position: relative;
    cursor: pointer;
}
.video-chat__nav-conference-video:hover svg .svg-fill-elem,
.video-chat__nav-conference-video.muted svg .svg-fill-elem,
.video-chat__nav-conference-audio:hover svg .svg-fill-elem,
.video-chat__nav-conference-audio.muted svg .svg-fill-elem{
    /*background: #000;*/
    fill: var(--danger-color);
}
.video-chat__nav-conference-video svg .svg-fill-elem,
.video-chat__nav-conference-audio svg .svg-fill-elem{
   transition: .3s;
}
.video-chat__nav-conference-video svg,
.video-chat__nav-conference-audio svg{
    display: inline-block;
}
.video-chat__nav-conference-video {
    border-right: 1px solid #504D4C;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.video-chat__nav-conference-audio {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.video-chat__close {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #433F3B;
    cursor: pointer;
    opacity: 1;
    transition: .3s;
}
.video-chat__close:hover {
    opacity: .7;
}
.video-chat__close:after,
.video-chat__close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 2px;
    height: 44%;
    background: #fff;
}
.video-chat__close:after {
    transform: translate(-50%,-50%) rotate(45deg);
}
.video-chat__close:before {
    transform: translate(-50%,-50%) rotate(-45deg);
}
