.table-client-consultations__avatar {
    width: 15%;
}
.table-client-consultations__name {
    width: 15%;
}
.table-client-consultations__theme {
    width: 25%;
}
.table-client-consultations__time {
    width: 15%;
}
.table-client-consultations__type {
    width: 15%;
}
.table-client-consultations__date {
    width: 15%;
}