.table-specialist-list__avatar {
    width: 15%;
}
.table-specialist-list__name {
    width: 18%;
}
.table-specialist-list__rating {
    width: 25%;
}
.table-specialist-list__description {
    width: 25%;
}
.table-specialist-list__price {
    width: 17%;
}