.congratulations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*max-width: 40%;*/
    margin: 80px auto 0;
}
.congratulations__img {
    max-width: 180px;
    display: inline-block;
    margin-bottom: 25px;
}
.congratulations__title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--darck-color);
    margin-bottom: 10px;
    max-width: 60%;
}
.congratulations__label {
    text-transform: uppercase;
    font-size: 10px;
    color: #495057;
}
.congratulations__form-group {
    display: flex;
    flex-wrap: nowrap;
}
.congratulations__input {
    width: 300px;
    max-width: calc(100% - 70px);
    height: 60px;
    font-weight: 400;
    padding: 10px 15px;
    font-size: 12px;
    color: #495057;
    background-color: #fff;
    border: none;
    border-radius: 0;
}
.congratulations__btn {
    /*background: var(--main-color);*/
    background: none;
    color: #fff;
    /*border-radius: 50%;*/
    /*width: 40px;*/
    /*height: 40px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 5px;*/
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    margin-left: 10px;
}
.congratulations__btn img {
    max-width: 60px;
    display: inline-block;
    transition: .3s;
}
.congratulations__successful {
    font-size: 12px;
    color: #4A4A4A;
    width: 60%;
    margin: 20px auto 0;
    text-align: center;
    line-height: 1.8;
}
