.link-mail {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 1.6;
}
.link-mail span {
    color: var(--main-color);
    text-decoration-color: var(--main-color);
    text-decoration: underline;
}
