.forgot-password {
    margin-top: 72px;
}
.forgot-password__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--darck-color);
}
.forgot-password__sub-title {
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 40px;
}
.forgot-password__form-group {
    margin-bottom: 150px;
}
.forgot-password__back-link {
    font-size: 14px;
    display: inline-block;
    color: var(--darck-color);
    text-decoration: none;
    transition: .3s;
    margin-top: 30px;
}
.forgot-password__back-link:hover {
    color: var(--main-color);
}

.forgot-password__btn-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.forgot-password__btn-wrap-inner {
    width: 50%;
}