.main-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../img/registration/main_img.svg');
}
.main-page__body {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}
.main-page__body,
.main-page__footer {
    width: 85%;
    margin: 0 auto;
}
.main-page_content {
    color: #fff;
    display: flex;
    margin-bottom: 70px;
}
.main-page_content-left {
    width: 515px;
    min-width: 400px;
}
.main-page_title {
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.main-page_sub-title {
    font-size: 20px;
    line-height: 1.5;
}
.main-page_content-right {
    align-self: flex-end;
    margin-bottom: 10px;
    line-height: 1.4;
}
.main-page_info {
    font-size: 20px;
    line-height: 1.5;
}
.main-page__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 40px 40px 40px 120px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.main-page__footer-copywriter {
    font-size: 12px;
    color: var(--darck-color);
}
.main-page__footer-socials {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.main-page__footer-socials li {
    display: inline-block;
    margin-right: 80px;
}
.main-page__footer-socials li:last-child {
    margin-right: 0;
}
.main-page__footer-socials svg g {
    fill: #000;
    transition: .3s;
}
.main-page__footer-socials a:hover svg g{
    fill: var(--main-color);
}
.main-page__link-start {
    align-self: flex-start
}
.navigation-registration-mobile-menu,
.sing-in-information,
.congratulations-mobile,
.contact-us-local,
.gradient-mobile-contact,
.fc-right-mobile-block,
.navigation-registration-mobile-logo,
.custom-table_wrap-td-mobile{
    display: none;
}
.user-rating-info__boxintelligence-mobile{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.user-rating-info__rating-info{
    flex-wrap: unset;
}
.user-rating-info__boxintelligence-mobile .user-rating-info__box-intelligence-single:first-child{
    padding-left: 25px;
}
.custom-table_wrap-td{
    display: none;
}
.custom-table_td-date,
.custom-table_td-time,
.custom-table_td-img,
.custom-table_td-width{
    width: 20%;
}
.registration-form-address{
    display: none;
}


.hands-bg {
    background-image: url("../../img/registration/hands.svg");
}
.hands-love-bg {
    background-image: url("../../img/registration/hands_love.svg");
}
.head-bg {
    background-image: url("../../img/registration/head.svg");
}


.main-page_menu-main-page{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-page_sing-in-block{
    display: flex;
    align-items: center;
}
.main-page_wrap-btn{
    padding-right: 96px;
}

.main-page_link-btn{
    border: 1px solid transparent;
    font-size: 12px;
    min-width: 150px;
    background: transparent;
    border-color: #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    padding: 15px 40px;
    text-decoration: none;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.main-page_nav-text{
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    color: #fff;
}
.logo-main-page{
    padding-left: 60px;
}