.navigation-registration {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 25px;
}
.navigation-registration__text {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    color: var(--darck-color);
}

.navigation-registration__link {
    font-size: 12px;
    color: var(--grey-color);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    transition: .3s;
}
.navigation-registration__link:hover {
    color: var(--main-color);
}
.navigation-registration__link-contact {
    margin-right: 80px;
}
