.registration-form {
    max-width: 60%;
    display: block;
    margin: 0 auto;
}
.registration-form__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--darck-color);
}
.registration-form__continue {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.registration-form__continue-link {
    width: 50%;
}
.registration-form__continue-text {
    /*width: 50%;*/
    /*margin-left: 10px;*/
    padding-left: 10px;
    font-size: 12px;
    color: #4A4A4A;
    line-height: 1.4;
}

/*_______________________*/
.registration-wrap {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
}
.registration__side-bar {
    width: 33%;
    background-color: var(--main-color);
    padding: 40px 60px 30px;
}
.registration__form {
    width: 67%;
    background: #F9F9F9;
    padding: 20px 100px;
}


