.side-bar-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-bar-info__logo {

}
.side-bar-info__logo img {
    max-width: 140px;
}
.side-bar-info__footer {
    text-align: center;
    align-self: center;
}
.side-bar-info__social-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 50px;
}
.side-bar-info__social-list li {
    display: inline-block;
    margin-right: 80px;
}
.side-bar-info__social-list li:last-child {
    margin-right: 0;
}
.side-bar-info__copywriter {
    font-size: 12px;
    color: #fff;
}
