.label-box {
    display: flex;
    justify-content: space-between;
}
/*.forgot-password-link {*/
/*    font-size: 12px;*/
/*    color: var(--darck-color);*/
/*    text-decoration: none;*/
/*    transition: .3s;*/
/*}*/
/*.forgot-password-link:hover {*/
/*    color: var(--main-color);*/
/*}*/
.forgot-password__link {
    font-size: 12px;
    display: inline-block;
    margin: 25px 0;
    color: var(--darck-color);
    text-decoration: none;
    transition: .3s;
}
.forgot-password__link:hover {
    color: var(--main-color);
}
.registration-form__show-password  {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(calc(-50% + 10px));
    display: inherit;
    cursor: pointer;
    height: 16px;
}
.registration-form__show-password:hover svg g.changeColor {
    transition: .3s;
}
.registration-form__show-password:hover svg g.changeColor,
.registration-form__show-password.active svg g.changeColor{
    fill: var(--main-color);
}
.forgot-password__password-input {
    padding: 10px 50px 10px 15px;
}
