* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: var(--darck-color);
}

.bg-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow-hidden {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

.hidden {
    display: none;
}

.primary-color {
    color: var(--main-color) !important;
}

.danger-color {
    color: #FF5151 !important;
}

.btn-as-link {
    background: none;
    border: none;
    font-size: 14px;
    padding: 0;
    display: inline-block;
    box-shadow: none;
    color: var(--main-color);
    cursor: pointer;
    transition: .3s;
}

.btn-as-link:focus {
    outline: none;
}

.btn-as-link:hover {
    text-decoration: underline;
}

.mb-0 {
    margin-bottom: 0;
}

.height100 {
    height: 100%;
}

.max-w-100 {
    max-width: 100%;
}

.max-h-100vh {
    max-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

/*_______________________*/
.btn {
    border: 1px solid transparent;
    font-size: 12px;
    min-width: 150px;
    background: var(--main-color);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    padding: 15px 40px;
    text-decoration: none;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}

.btn_light {
    background: #fff;
    color: var(--darck-color);
}

.btn_light:hover {
    background: #fff;
    color: var(--main-color);
    border-color: #fff;;
}

.btn_big {
    padding: 20px 75px;
}

.btn_full-w {
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding-right: 0;
}

.btn-transparent {
    background: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}

.btn-transparent:hover {
    background: var(--main-color);
    border-color: transparent;
    color: #fff;
}

/*_______________________*/
.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group__question {
    position: absolute;
    font-size: 10px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey-color);
    color: var(--grey-color);
    top: 20px;
    left: calc(100% + 10px);
    font-weight: 600;
    cursor: pointer;

}

.form-group label,
.form-group__label {
    text-transform: uppercase;
    font-size: 10px;
    color: #4A4A4A;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.form-control {
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 60px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 400;
    color: var(--darck-color);
    background-color: #fff;
    border: none;
    border-radius: 0;
}

textarea.form-control {
    height: auto;
    resize: none;
}

.form-control::-webkit-input-placeholder,
.congratulations__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--darck-color);
    opacity: .5;
}

.form-control::-moz-placeholder,
.congratulations__input::-moz-placeholder { /* Firefox 19+ */
    color: var(--darck-color);
    opacity: .5;
}

.form-control:-ms-input-placeholder,
.congratulations__input:-ms-input-placeholder { /* IE 10+ */
    color: var(--darck-color);
    opacity: .5;
}

.form-control:-moz-placeholder,
.congratulations__input:-moz-placeholder { /* Firefox 18- */
    color: var(--darck-color);
    opacity: .5;
}

.form-control-error {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    color: #FF5D71;
    font-size: 10px;
}

.form-control-success {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    color: var(--darck-color);
    font-size: 10px;
}
