.custom-select {
    position: relative;
}
.custom-select__selected {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 60px;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 42px;
    vertical-align: center;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    color: #495057;
    background-color: #fff;
}
.custom-select__icon-select {
    position: absolute;
    right: 15px;
    top: 50%;
    height: 4px;
    transform: translateY(-50%) rotate(180deg);
    transition: .3s;
}

.custom-select__list {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 100%;
    border: 1px solid #D2D7E2;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    max-height: 122px;
    overflow-y: auto;
    z-index: 2;
}
.custom-select__list.show-on-top {
    bottom: 100%;
    top: auto;
}
.custom-select__list li {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 60px;
    line-height: 42px;
    vertical-align: center;
    background-color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 12px;
    color: var(--darck-color);
    transition: .3s;
}
.custom-select__list li:hover,
.custom-select__list li.selected{
    background-color: #F7F8FB;
    font-weight: 600;
    color: var(--main-color);
}
.custom-select.open .custom-select__list {
    display: block;
}
.custom-select.open .custom-select__icon-select {
    transform: translateY(-50%) rotate(0deg);
}
