.DayPickerInput {
    position: relative;
}
.DayPickerInput-Overlay.DayPickerInput-Overlay_right {
    right: 0;
    left: auto;
}
.DayPickerInput .DayPickerInput-Overlay {
    top: 5px;
    box-shadow: 0 0 26px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 5px;
}
.DayPickerInput .DayPickerInput-Overlay:focus,
.DayPickerInput .DayPicker:focus,
.DayPickerInput .DayPicker-wrapper:focus {
    outline: none;
}
.DayPickerInput:after {
    content: '';
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 22px;
    background: url("../img/ico/calendar_grey.svg");
}

.DayPickerInput > input {
    background: #efefef;
    border: none;
    width: 140px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 5px 12px 44px;
    text-transform: uppercase;
    color: #C9C9C9;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.DayPickerInput.single-filter > input {
    border-radius: 20px;
}

.DayPickerInput.calendar > input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: auto;
}

.DayPickerInput > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #C9C9C9;
    font-size: 10px;
}
.DayPickerInput > input::-moz-placeholder { /* Firefox 19+ */
    color: #C9C9C9;
    font-size: 10px;
}
.DayPickerInput > input:-ms-input-placeholder { /* IE 10+ */
    color: #C9C9C9;
    font-size: 10px;
}
.DayPickerInput > input:-moz-placeholder { /* Firefox 18- */
    color: #C9C9C9;
    font-size: 10px;
}
.DayPickerInput > input:focus {
    background: var(--main-color);
    color: #fff;
    outline: none;
}
.DayPickerInput:hover > input::-webkit-input-placeholder,
.DayPickerInput > input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.DayPickerInput:hover > input::-moz-placeholder,
.DayPickerInput > input:focus::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.DayPickerInput:hover > input:-ms-input-placeholder,
.DayPickerInput > input:focus:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.DayPickerInput:hover > input:-moz-placeholder,
.DayPickerInput > input:focus:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.DayPickerInput:hover:after,
.DayPickerInput.active:after {
    background: url("../img/ico/calendar.svg");
}
.DayPickerInput:hover > input,
.DayPickerInput.active> input,
.DayPickerInput:focus > input {
    color: #fff;
    background: var(--main-color);
}


.DayPickerInput .DayPicker-Caption {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.DayPickerInput .DayPicker-Weekdays {
    border-bottom: 1px solid var(--grey2-color);
    padding: .6rem;
}
.DayPickerInput .DayPicker-Weekday {
    font-size: 12px;
    color: var(--grey2-color);
}
.DayPickerInput .DayPicker-Day {
    font-size: 14px;
    padding: .6rem;
}
.DayPickerInput .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background: #F1EEEE;
}
.DayPickerInput .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background: var(--main-color);
}
.DayPickerInput .DayPicker-Day--today {
    font-weight: 400;
    color: #4A4A4A;
    font-size: 12px;
    position: relative;
}
.DayPickerInput .DayPicker-Day--today:not(:empty):after {
    content: '';
    position: absolute;
    right: 4px;
    top: 4px;
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
}
.DayPicker-NavButton.DayPicker-NavButton--prev {
    left: 1.5rem;
    right: auto;
    width: 10px;
    height: 11px;
    top: 25px;
    margin: 0;
    background-image: url('../img/ico/left.svg');
}

.DayPicker-NavButton.DayPicker-NavButton--next {
    width: 10px;
    height: 11px;
    top: 25px;
    margin: 0;
    background-image: url('../img/ico/right.svg');
}
