@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    /*font-style: normal;*/
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
    /*font-style: normal;*/
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    /*font-style: normal;*/
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    /*font-style: normal;*/
    font-weight: 900;
}
