/* Grid System - flex */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    height: 100%;
}
.row.__full {
    margin: 0 -15px;
}
.row.__reverse {
    flex-direction: row-reverse;
}
.row.__center  {
    align-items: center;
}

.row.__space-between  {
    justify-content: space-between;
}
.row.__justify-center  {
    justify-content: center;
}

[class^="col-"] {
    position: relative;
    align-items: stretch;
    width: 100%;
    min-height: 1px;
}
.row.__full [class^="col-"] {
    padding: 0 15px;
}

.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.6666%;
}
.col-xs-10 {
    width: 83.3333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.6666%;
}
.col-xs-7 {
    width: 58.3333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.6666%;
}
.col-xs-4 {
    width: 33.3333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.6666%;
}
.col-xs-1 {
    width: 8.3333%;
}

@media screen and (min-width: 769px) {
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.6666%;
    }
    .col-sm-10 {
        width: 83.3333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.6666%;
    }
    .col-sm-7 {
        width: 58.3333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.6666%;
    }
    .col-sm-4 {
        width: 33.3333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.6666%;
    }
    .col-sm-1 {
        width: 8.3333%;
    }
}

@media screen and (min-width: 993px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.6666%;
    }
    .col-md-10 {
        width: 83.3333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.6666%;
    }
    .col-md-7 {
        width: 58.3333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.6666%;
    }
    .col-md-4 {
        width: 33.3333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.6666%;
    }
    .col-md-1 {
        width: 8.3333%;
    }
}

@media screen and (min-width: 1200px) {
    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.6666%;
    }

    .col-lg-10 {
        width: 83.3333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.6666%;
    }

    .col-lg-7 {
        width: 58.3333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.6666%;
    }

    .col-lg-4 {
        width: 33.3333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.6666%;
    }

    .col-lg-1 {
        width: 8.3333%;
    }
}

/* middle screen */
@media screen and (max-width: 1200px) {

}

/* small screen */
@media screen and (max-width: 993px) {
}


/* extra small screen */
@media screen and (max-width: 769px) {

}

/* extra small screen */
@media screen and (max-width: 500px) {

}
