:root {
    --main-color: #64A0FF;
    --darck-color: #323C47;
    --grey-color: #989DA3;
    --grey2-color: #C9C9C9;
    --danger-color: #FF5151;
}

@import "animation.css";

@import "reset.css";
@import "fonts.css";
@import "grid.css";
@import "common.css";

@import "custom-select.css";
@import "modal-window.css";
@import "day-picker-input.css";

@import "registaration/registration-common.css";
@import "registaration/home.css";
@import "registaration/congratulations.css";
@import "registaration/contact-us.css";
@import "registaration/sing-in.css";
@import "registaration/side-bar.css";
@import "registaration/navigation.css";
@import "registaration/forgot-password.css";

@import "cabinet/left-menu.css";
@import "cabinet/review-form.css";
@import "cabinet/cabinet-common.css";
@import "cabinet/settings.css";
@import "cabinet/specialists-list.css";
@import "cabinet/specialist-rating.css";
@import "cabinet/custom-table.css";
@import "cabinet/user-reviews.css";
@import "cabinet/cabinet-title.css";
@import "cabinet/specialists-skills.css";
@import "cabinet/table-filter.css";
@import "cabinet/table-nav.css";
@import "cabinet/table-content.css";
@import "cabinet/quick-statistics.css";
@import "cabinet/end-consultation-in-modal.css";
@import "cabinet/call-partner-modal.css";
@import "cabinet/video-chat.css";
@import "cabinet/calendar.css";
@import "cabinet/calendar-tooltip.css";


@import "cabinet/client/specialist-list-table.css";
@import "cabinet/client/client-consultations.css";


@import "cabinet/specialist/specialist-consultation.css";
@import "cabinet/specialist/specialist-revenue.css";
@import "cabinet/specialist/specialist-payment.css";



@import "cabinet/live-chat/live-chat.css";
@import "cabinet/live-chat/live-chat-header.css";
@import "cabinet/live-chat/live-chat-body.css";
@import "cabinet/live-chat/live-chat-footer.css";

@import "cabinet/chat/chat.css";
@import "cabinet/chat/chat-header.css";
@import "cabinet/chat/chat-body.css";
@import "cabinet/chat/chat-footer.css";

@import "media-queries.css";
