@media all and (max-width: 768px) {
    .day-table .fc-time-grid-container, .fc-time-grid {
        position: relative;
    }

    .day-table .fc-time-grid {
        position: relative;
    }

    .fc-time-grid .fc-now-indicator-line {
        left: 0;
        right: 0;
    }

    .fc-ltr .fc-time-grid .fc-now-indicator-arrow {
        left: 0;
    }
}

.navigation-menu-mobile {
    display: none;
}

.lg-visibility_md-hidden_block {
    display: block;
}

.lg-hidden_md-visibility_block {
    display: none;
}

.lg-visibility_sm-hidden_block {
    display: block;
}

.lg-hidden_sm-visibility_block {
    display: none;
}

.lg-visibility {
    display: block;
}

.lg-hidden {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .cabinet__title-back {
        right: calc(100% + 8px);
    }

    .table-specialist-revenue_date,
    .table-specialist-revenue_time {
        width: 15%;
    }

    .table-specialist-revenue_name {
        width: 50%;
    }

    .table-nav__nav-inner {
        transform: translateX(0px);
    }

    .table-nav__nav {
        margin-bottom: 20px;
    }

    .table-filter {
        margin-top: 20px;
    }

    .table-specialist-payment_name {
        width: 40%;
    }

    .table-specialist-payment_date {
        width: 15%;
    }

    .table-specialist-payment_time {
        width: 15%;
    }

    /* consultant cabinet */
    .table-specialist-consultation__name {
        width: 55%;
    }

    .table-specialist-list__name {
        width: 38%;
    }

    .table-specialist-list__rating {
        width: 30%;
    }

    .padding-top-10 {
        padding-top: 10px;
    }

    .md-hidden,
    .lg-visibility {
        display: none;
    }

    .md-visibility,
    .lg-hidden {
        display: block;
    }

    .lg-visibility_md-hidden_block {
        display: none;
    }

    .lg-hidden_md-visibility_block {
        display: block;
    }

    .table-client-consultations__name {
        width: 40%;
    }

    /* main page */
    .main-page {
        background-image: url("../img/registration/hand.svg");
        background-color: #68a3ff;
    }

    .main-page__body {
        padding-left: 0
    }

    .main-page_content {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .main-page_content-right {
        align-self: flex-start;
    }

    .main-page_content-left {
        margin-bottom: 20px;
    }

    .main-page_info {
        color: #fff;
        margin-top: 80px;
    }

    .main-page__footer {
        padding: 40px 40px 40px 50px;
        border-radius: 0;
    }

    /* registration */
    .navigation-registration__link-contact {
        margin-right: 20px;
    }

    .registration__side-bar {
        padding: 40px 20px 30px;
    }

    .registration__form {
        padding: 20px 60px;
    }

    .registration-form {
        width: 100%;
        max-width: 100%;
    }

    .side-bar-info__social-list {
        display: flex;
        justify-content: space-between;
    }

    .side-bar-info__social-list li {
        margin-right: 0;
    }

    .congratulations-mobile {
        display: block;
        margin-top: 60px;
    }

    .head-bg {
        background-size: contain;
    }

    /* ______  */
    .cabinet-wrap__content {
        width: calc(100% - 80px);
    }

    /*client specialist list*/
    .cabinet-side-bar__header {
        padding: 0 10px 0 10px;
        text-align: center;
    }

    .cabinet-side-bar__header-user-info {
        justify-content: center;
    }

    .cabinet-side-bar__header-logo {
        margin: 0 auto 30px;
    }

    .header-user-info-about {
        display: none;
    }

    .cabinet-side-bar__menu li a {
        padding: 13px 0 13px;
        justify-content: center;
    }

    .cabinet-wrap__menu {
        width: 80px;
        min-width: 80px;
    }

    /*.cabinet-side-bar__menu li a {*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*}*/
    .cabinet-side-bar__menu-text {
        display: none;
    }

    .cabinet-side-bar__menu-icon {
        margin-right: 0;
    }

    .cabinet-side-bar__footer p {
        transform: rotate(-90deg);
        white-space: nowrap;
    }

    /* rating */
    .user-reviews__box {
        width: 100%;
    }

    .user-rating-info__boxintelligence-mobile {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding-top: 20px;
    }

    .user-rating-info__box-intelligence {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .specialists-skills-single {
        margin-bottom: 20px;
    }

    .specialists-skills-single__licenses {
        width: 50%;
    }

    .specialists-skills-single__focus {
        width: 50%;
    }

    .specialists-skills-single__approach {
        width: 60%;
    }

    .user-rating-info__boxintelligence-mobile .user-rating-info__box-intelligence-single:first-child {
        padding-left: 0;
    }

    .user-rating-info__box-intelligence-single_rating {
        order: 1;
    }

    .user-rating-info__box-intelligence-single_info {
        order: 3;
        margin-bottom: 30px;
    }

    .user-rating-info__box-intelligence-single_btn {
        order: 2;
    }

    .user-rating-info {
        /* flex */
        flex-wrap: unset;
        flex-direction: row;
        align-items: flex-start;
    }

    /* calendar month */
    .fc-right-mobile-none {
        display: none;
    }

    .fc-right-mobile-block,
    .fc-right-mobile-btn-calendar-margin {
        display: block;
        margin-top: 20px;
        margin-left: 25px;
    }

    .fc-toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .cabinet-wrap__content-inner {
        width: 100%;
        padding: 30px 40px;
    }

    .fc-center {
        transform: translateX(-50%);
        margin-top: 30px;
        position: relative;
        bottom: 0;
        left: 50%;
    }

    .fc-left {
        width: 100%;
    }

    .fc-toolbar h2 {
        text-align: center;
    }

    .add-events {
        right: 25px;
    }

    /* chat */
    .chat-wrap__body {
        padding: 0 10%;
    }

    .chat-body-message__text {
        width: 100%;
    }

    /* table-filter */
    .table-filter__filters-btn {
        min-width: 70px;
    }
}

@media only screen and (max-width: 700px) {
    .calendar-tooltip {
        transform: translateY(10px);
        border-radius: 0;
    }

    .calendar-tooltip_month-specialist,
    .calendar-tooltip_day-specialist,
    .calendar-tooltip_month-client {
        width: 100%;
    }

    .calendar-tooltip .calendar-tooltip__triangle {
        top: -5px;
        left: 10px;
    }

    .calendar-tooltip.mobile-bottom .calendar-tooltip__triangle {
        top: auto;
        bottom: -5px;
        left: 10px;
    }

    .calendar-tooltip.mobile-bottom {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 600px) {
    .table-specialist-revenue_name {
        width: 45%;
    }

    .table-specialist-revenue_cash {
        width: 20%;
    }

    .table-specialist-payment_name {
        width: 35%;
    }

    .table-specialist-revenue_date {
        width: 30%;
    }

    .table-specialist-payment_date {
        width: 35%;
    }

    .table-specialist-payment_cash {
        width: 25%;
    }

    .navigation-menu-mobile {
        display: block;
    }

    .table-specialist-consultation__name {
        width: 40%;
    }

    .table-specialist-consultation__date {
        width: 25%;
    }

    .table-specialist-consultation__time {
        width: 20%;
    }

    /* cliet consultation table */
    .table-client-consultations__date {
        width: 25%;
    }

    .table-client-consultations__type {
        width: 20%;
    }

    .lg-visibility_sm-hidden_block {
        display: none;
    }

    .lg-hidden_sm-visibility_block {
        display: block;
    }

    /* .wrap-menu-mobile {
        display: none;
    } */
    /* get start */
    .main-page_info {
        display: none;
    }

    .main-page_content-right {
        display: none;
    }

    .main-page__body {
        width: 100%;
        justify-content: flex-start;
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .bg-center .btn {
        border-radius: unset;
    }

    .main-page_content {
        margin-bottom: 20px;
    }

    .main-page__footer-copywriter {
        display: none;
    }

    .main-page__footer-socials {
        display: flex;
    }

    .main-page__footer {
        padding: 40px;
    }

    .main-page_title {
        font-size: 50px;
    }

    .main-page_sub-title {
        font-size: 14px;
    }

    .main-page_content-left {
        width: 100%;
        min-width: unset;
    }

    .main-page__footer-socials li {
        margin-right: unset;
    }

    .main-page__footer-socials {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .main-page {
        width: 100%;
        height: 100%;
    }

    /* ------------ */
    /* login/registration */
    .registration__side-bar {
        display: none;
    }

    .registration__form {
        width: 100%;
        padding: unset;
    }

    .registration-form__continue-link,
    .forgot-password__btn-wrap-inner {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 20;
    }

    .registration-form {
        padding: 0;
        max-width: unset;
        position: relative;
    }

    .registration-form__continue-text {
        width: 100%;
        margin-left: unset;
    }

    .registration-form-mobile {
        /* padding: 0 20px; */
        padding: 0 30px;
        /* margin-bottom: 50px !important; */
    }

    .registration-form__continue-link .btn,
    .forgot-password__btn-wrap-inner .btn {
        border-radius: unset;
    }

    .live-chat {
        bottom: 80px;
    }

    .navigation-registration {
        height: 65px;
        background-color: #64A0FF;
        justify-content: space-between;
    }

    .navigation-registration__text {
        display: none;
    }

    .form-control-error {
        /* padding-right: 25px; */
        padding-right: 45px;
    }

    .btn-transparent {
        color: #fff;
        border: 1px solid #fff;
    }

    /* .navigation-registration .btn {
        border-radius: unset;
    } */
    .navigation-registration-mobile-menu {
        display: block;
    }

    /* .navigation-registration {
        margin-bottom: 25px;
    } */
    /* REMOVEE*/
    /*.specialists-list-wrap__body {*/
    /*flex: unset;*/
    /*}*/
    .custom-table_font-bold {
        padding-left: 55px;
    }

    .chat-wrap {
        padding-top: unset;
    }

    .chat-wrap__mobile-h-100 {
        height: calc(100% - 85px);
    }

    .congratulations__btn {
        background-color: #64A0FF;
        height: 60px;
        width: 60px;
    }

    .congratulations__btn img {
        max-width: 55px;
    }

    .congratulations__input {
        width: calc(100% - 70px);
        height: 60px;
    }

    .registration-form_contact-text {
        margin-bottom: 80px;
    }

    .congratulations__title {
        font-size: 24px;
        line-height: 34px;
    }

    .form-group__question {
        display: none;
    }

    .forgot-password-link {
        color: #64A0FF;
    }

    .navigation-registration-mobile-logo {
        display: flex;
    }

    .sing-in-information {
        display: flex;
        margin-top: 55px;
    }

    /* .wrap-menu-mobile {
        display: flex;
        justify-content: space-between;
    } */
    .navigation-registration__right-menu {
        display: flex;
    }

    .navigation-registration-mobile-logo {
        padding-left: 45px;
        /* padding-left: 20px; */
    }

    /* .btn{
        padding: 15px 20px;
    } */
    /* .navigation-registration__right-menu{
        padding-right: 25px;
    } */
    .navigation-registration-mobile-menu {
        padding-left: 20px;
        /* padding-right: 25px; */
        padding-right: 25px;
    }

    .mobile-contact-us .navigation-registration__link {
        display: none;
    }

    .mobile-contact-us .btn-transparent {
        display: none;
    }

    .mobile-contact-us {
        display: flex;
        justify-content: space-between;
        margin-bottom: unset;
    }

    .congratulations form {
        width: 100%;
        padding: 0 45px;
    }

    .contact-us-local {
        margin-bottom: 15px;
        display: block;
        width: 100%;
    }

    .gradient-mobile-contact {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 250px;
        background: linear-gradient(to top, rgba(115, 169, 255, 0) 0, rgba(100, 160, 255, 0) 15%, #64A0FF 100%);
    }

    .registration-form-address {
        position: absolute;
        top: 125px;
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        font-weight: bold;
        display: block;
    }

    /* consultant */
    .cabinet-wrap__menu {
        display: none;
    }

    .cabinet-wrap__content {
        width: 100%;
    }

    .custom-table_th:nth-child(3) .custom-table_sort-by {
        display: none;
    }

    .table-filter {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .cabinet__title-wrap {
        width: 100%;
    }

    .cabinet__title_mb-0 {
        text-align: center;
    }

    .table-filter__filters {
        margin-top: 20px;
    }

    .custom-table_wrap-td {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .custom-table_tr {
        align-items: flex-start;
    }

    .custom-table_wrap-td-mobile {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 13px;
    }

    .custome-table_td-number {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'Montserrat';
        color: #989DA3;
    }

    .custome-table_td-time {
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        font-family: 'Montserrat';
        color: #323C47;
    }

    .custome-table_td-dote {
        white-space: normal;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: 'Montserrat';
        color: #989DA3;
        margin-bottom: 10px;
        margin-left: 24px;
        margin-top: 10px;
        width: 100%;
    }

    .custome-table_td-name {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        font-family: 'Montserrat';
        color: #323C47;
        margin-bottom: 10px;
        margin-left: 24px;
    }

    .custome-table_wrap-left-block {
        width: 50%;
    }

    .table-user__img {
        width: 40px;
        height: 40px;
    }

    .custome-table_wrap-right-block {
        width: 50%;
        display: flex;
        /* justify-content: space-between; */

    }

    .custome-table_td-number-style {
        padding-right: 50px;
    }

    .custome-table_wrap-left-block .custom-table_td .dots {
        width: 50%;
    }

    .custome-table_wrap-left-block .custom-table_td {
        width: 50%;
    }

    /* ------------ */
    .quick-statistics__item {
        padding: 30px 0 45px;
    }

    .quick-statistics__count {
        font-size: 20px;
    }

    .quick-statistics__title {
        font-size: 10px;
    }

    .quick-statistics__status {
        font-size: 10px;
    }

    .quick-statistics__icon svg {
        width: 35px;
        height: 35px;
    }

    /* chat */
    .form-control-input {
        width: 60px;
        height: 60px;
    }

    .row.__full [class^="col-"] {
        padding: 0 13px;
    }

    /*.row.__full [class^="col-"]:nth-child(3) {*/
    /*padding: 0 5px 0 13px;*/
    /*}*/
    .form-control-input {
        font-size: 16px;
        line-height: 16px;
        color: #4A4A4A;
    }

    .settings-form-title {
        font-size: 14px;
        line-height: 24px;
    }

    .settings-payment-wrap .registration-form-mobile {
        margin-bottom: 30px;
    }

    .chat-wrap__footer-message {
        padding: 25px 10px;
    }

    .chat-body-message__text {
        width: 85%;
    }

    .chat-wrap__body {
        padding: 0 25px;
    }

    .chat-body-message__date {
        margin-top: 10px;
    }

    .chat-wrap__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chat-wrap__header-info {
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }

    .table-nav__nav-inner {
        transform: unset;
    }

    /* setting */
    .settings-header__avatar-img {
        width: 63px;
        height: 63px;
    }

    .cabinet__title {
        text-align: center;
    }

    .settings-payment__header {
        flex-direction: column;
        align-items: center;
    }

    .settings-payment-wrap_img {
        margin-top: unset;
    }

    .settings-payment__title {
        margin-bottom: 20px;
    }

    .text-right {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .text-right .btn {
        width: 100%;
        border-radius: unset;
    }

    /* rating */
    .user-reviews__title {
        padding-left: 95px;
    }

    .user-reviews__inner {
        display: unset;
        flex-wrap: unset;
    }

    .user-reviews-single__img {
        width: 85px;
    }

    .cabinet__title-back {
        left: 45px;
        right: unset;
    }

    .user-rating-info__boxintelligence-mobile .user-rating-info__box-intelligence-single:first-child {
        padding-left: unset;
    }

    .user-rating-info {
        margin-bottom: 40px;
    }

    .table-filter__filters {
        left: 25px;
        position: relative;
    }

    .custome-table_wrap-right-block .custome-table_td-type-conect {
        padding-top: 40px !important;
    }

    .form-control_text-areay {
        margin-bottom: 100px;
    }

    .custom-table_date {
        margin: 35px 0;
    }

    .table-nav__nav .btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        border-radius: unset;
        left: 0;
    }

    .custom-table_header-tab {
        display: flex;
        margin: 20px 0 20px 0px;
    }

    .width-col1 {
        width: 40%;
    }

    .width-col2 {
        width: 27.5%;
    }

    .width-col3 {
        width: 27.5%;
    }

    .width-col4 {
        width: 27.5%;
    }

    .custom-table_header-name,
    .custom-table_header-description,
    .custom-table_header-time {
        font-size: 10px;
        line-height: 10px;
        color: #989DA3;
        font-weight: 400;
        font-family: 'Montserrat';
    }

    .width-col {
        width: 25%;
    }

    .specialists-list-wrap__body {
        margin-bottom: 20px;
    }

    .quick-statistics {
        padding: 0 25px 40px 25px;
    }

    .fc-timeGridDay-view tbody .fc-time span {
        position: absolute !important;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
    }

    .fc-timeGridDay-view tbody .fc-time.fc-widget-content {
        width: unset !important;
        position: relative;
    }

    .fc-timeGridDay-view tbody .fc-widget-content {
        width: 100%;
    }

    .wrap-calendar-header-day {
        margin: 0 20px 10px 20px;
    }

    .fc-time-grid .fc-slats td {
        height: 80px;
    }

    .setting-wrap-communication {
        flex-wrap: unset;
    }

    .setting-wrap-communication .col-md-3:last-child {
        padding: unset !important;
    }

    .setting-wrap-communication label {
        white-space: nowrap
    }

    .setting-wrap-communication .settings-form-price-count {
        white-space: nowrap
    }

    .setting-wrap-communication .form-control {
        text-align: center;
    }

    .settings-form-title {
        margin-bottom: 20px;
    }

    .fc-dayGridMonth-view .fc-bg {
        height: 125px;
    }

    .fc-dayGridMonth-view .fc-content-skeleton {
        height: 125px;
    }

    .custome-table_td-mobile {
        display: none;
    }

    .custom-table_wrap-td .dots {
        /* width: 100%; */
        white-space: normal;
    }

    .custom-table_wrap-td .custom-table_td {
        padding: 13px 13px 13px 3px;
    }

    .custom-table_tr .custom-table_td:first-child {
        text-align: left;
    }

    .custom-table_tr {
        width: 100%;
        margin: auto;
    }

    .custom-table_tr-width {
        padding: 0 60px 0 50px;
    }

    .cabinet-wrap__content-inner {
        padding: 0;
        height: auto;
    }

    .custome-table-time {
        padding-right: 30px;
    }

    .expiration-date-wrap-mobile {
        justify-content: space-between;
    }

    .expiration-date-mobile {
        width: 50%;
    }

    .btn-price-mobile {
        /*margin-top: 20px;*/
        /*margin-bottom: 20px;*/
        display: none;
    }

    .table-filter__filters-btn {
        min-width: 95px;
    }

    .custome-table_wrap-type-tb {
        padding-left: 40px;
    }

    .custom-table__sm-padding {
        padding: 0 60px 0 50px;
    }

    .table-filter_width {
        min-width: 80px;
    }

    .custome-table_name {
        font-size: 14px;
        line-height: 14px;
        color: #323C47;
        font-weight: 400;
        font-family: 'Montserrat';
        margin-bottom: 10px;
        margin-left: 18px;
    }

    .custome-table_description {
        font-size: 12px;
        line-height: 16px;
        color: #989DA3;
        font-weight: 400;
        font-family: 'Montserrat';
        white-space: normal;
        margin-bottom: 10px;
        margin-left: 18px;
        width: 100%;
    }

    .custome-table_all-star {
        margin-bottom: 10px;
        margin-left: 18px;
        width: 100%;
    }

    .custome-table_wrap-money {
        justify-content: flex-end;
    }

    .custome-table_wrap-money span {
        font-size: 12px;
        line-height: 12px;
        ont-weight: 400;
        font-family: 'Montserrat';
        color: #989DA3;
    }

    .custom-table_font-biggest {
        width: 30%;
    }

    .custome-table_footer .custom-table_tr {
        align-items: center;
        justify-content: center;
    }

    .read-all-reviews {
        margin-bottom: 40px;
    }

    .user-rating-info__img {
        width: 63px;
        margin-left: 20px;
    }

    .chat-wrap__header .cabinet__title-back {
        left: -25px;
    }

    .registration-form_bottom {
        margin-bottom: 50px;
    }

    .registration-form__continue-text {
        margin-bottom: 80px;
    }

    .congratulations__form-group {
        justify-content: space-between;
    }

    .btn-nav-mune {
        padding: 10px 20px;
        border-radius: 0px;
    }

    /* .wrap-menu-mobile {
        display: flex;
    } */
    .avatar-usert {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .tab-center {
        left: 50%;
        transform: translateX(-50%);
    }

    .specialists-skills_mobile {
        display: none;
    }

    .specialists-skills_wrap-mobile-block {
        display: block;
        padding: 0 25px;
    }

    .specialists-skills_main-title {
        padding-bottom: 10px;
    }

    .specialists-skills_main-text {
        white-space: normal;
    }

    .specialists-skills_block-wrap-type {
        display: flex;
        justify-content: space-between;
    }

    .specialists-skills_main-title {
        font-size: 12px;
        line-height: 12px;
        color: #323C47;
        font-weight: 400;
        font-family: 'Montserrat';
    }

    .specialists-skills_main-text {
        font-size: 14px;
        line-height: 20px;
        color: #989DA3;
        font-weight: 400;
        font-family: 'Montserrat';
    }

    .user-rating-info__img img {
        width: 63px;
        height: 63px;
    }

    .user-rating-info__img {
        margin-right: 25px;
        margin-left: 25px;
        width: unset;
    }

    .user-rating-info__name {
        font-size: 20px;
        line-height: 30px;
    }

    .cabinet__title {
        font-size: 20px;
        line-height: 20px;
    }

    .cabinet__title-back {
        top: 4px;
    }

    .user-reviews__title {
        margin-bottom: 40px;
    }

    .media-large-none {
        display: block;
        width: 100%;
        padding: 13px 0 13px 9px;
    }

    .custom-table__tbody-consultant .media-large-none {
        width: 22%;
        padding-left: 0;
    }

    .custom-table_tr:last-child {
        margin-bottom: 40px;
    }

    .custom-table_tr.not-margin {
        margin-bottom: unset;
    }

    .modal__dialog {
        padding: 40px;
    }

    .specialists-skills-single__licenses,
    .specialists-skills-single__focus,
    .specialists-skills-single__approach {
        width: 100%;
    }

    .p-t-20 {
        padding-top: 20px;
    }

    .table-specialist-list__name {
        width: 58%;
    }

    .table-specialist-list__price {
        width: 27%;
    }

    .table-nav__nav {
        margin-bottom: 60px;
        padding-left: 45px;
    }

    .mobile-menu_wrap-left-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 65px;
        background-color: #64A0FF;
    }

    .cabinet-wrap__content {
        padding-top: 20px;
        display: flex;
        flex: auto;
    }

    .cabinet-wrap__menu-mobile-block {
        width: 100%;
    }

    .mobile-menu_img-nav {
        padding-left: 45px;
    }

    .main-page_menu-main-page {
        flex-direction: column;
    }

    .main-page_sing-in-block {
        margin: 20px 0;
    }

    .main-page_wrap-btn {
        padding: unset;
    }

    .logo-main-page {
        padding: unset;
    }

    .cabinet-wrap {
        flex-direction: column;
    }

    .registration-form__show-password {
        right: 65px;
    }

    /* mobile menu */
    .mobile-menu__nav {
        position: absolute;
        width: 100vw;
        height: calc(100vh - 65px);
        z-index: 999;
        bottom: 0;
        background: var(--main-color);
        top: 100%;
        left: 0;
        transform: translateX(-100%);
        transition: 0.5s;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .open-menu .mobile-menu__nav {
        transform: translateX(0);
    }

    .mobile-menu__wrap-link {
        padding: 60px 0 0 45px;
    }

    .mobile-menu__wrap-menu-link {
        padding-bottom: 30px;
    }

    .mobile-menu__wrap-menu-link {
        padding-bottom: 30px;
    }

    .mobile-menu__link {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        transition: .3s;
    }

    .mobile-menu__link.active,
    .mobile-menu__link:hover {
        color: var(--danger-color);
    }

    .mobile-menu__footer {
        padding-bottom: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .custom-table__sm-padding {
        padding: 0 30px;
    }

    .main-page_sing-in-block {
        flex-direction: column;
    }

    .main-page_nav-text {
        margin: unset;
        padding: 10px 0;
    }
    .calendar-tooltip_month-client .calendar-tooltip__title-event:last-child {
        padding-right: 0;
    }
    .calendar-tooltip_month-client .calendar-tooltip__wrap-checkbox:last-child {
        padding-right: 0;
    }
    .calendar-tooltip_month-client .calendar-tooltip__content  {
        padding: 0 35px;
    }
}

@media only screen and (max-width: 340px ) {
    .live-chat-container {
        width: 260px;
    }

    .main-page_title {
        font-size: 38px;
    }

    .registration-form-mobile {
        /* margin-bottom: 80px !important; */
    }

    .cabinet__title-back {
        left: 45px;
    }

    .cabinet__title {
        font-size: 18px;
    }

    /* .custom-table__tbody-consultant {
        padding: 0 25px;
    } */
    .custome-table_wrap-type-tb {
        padding-left: 30px;
    }

    .table-filter_width {
        min-width: 70px;
    }

    .table-filter__filters-btn {
        min-width: 70px;
    }
    .registration-form-mobile {
        /* padding: 0 20px; */
        padding: 0 20px;
        /* margin-bottom: 50px !important; */
    }

}
