.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(-100%);
    transition: .3s;
    top: 0;
    left: 0;
    z-index: 10;
}
.modal.open {
    opacity: 1;
    transform: translateY(0);
}
.modal__bg {
    background: rgba(0,0,0,.86);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}
.modal__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 403px;
    max-width: 85%;
    transform: translate(-50%,-50%);
    z-index: 12;
    background: #F9F9F9;
    padding: 60px 80px;
    border-radius: 10px;
    max-height: 95%;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    z-index: 13;
    cursor: pointer;
    transition: .3s;
}
.modal__close:hover {
    transform: rotate(180deg);
}
.modal__close:after,
.modal__close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    border-radius: 5px;
    height: 80%;
    background: #000;
}
.modal__close:after {
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
