.live-chat {
    position: fixed;
    right: 30px;
    bottom: 90px;
    z-index: 99;
}
.live-chat__logo img {
    width: 100px;
    cursor: pointer;
}
.live-chat-container {
    position: absolute;
    display: none;
    flex-direction: column;
    height: 500px;
    max-height: calc(100vh - 190px);
    width: 320px;
    bottom: calc(100% + 20px);
    right: 0;
    border-radius: 5px;
    box-shadow: 0 2px 34px 0 rgba(0,0,0, .1);
    overflow: hidden;
}
.live-chat-container.open {
    display: flex;
}
.live-chat-container__avatars img:last-child {
    margin-right: 0;
}
