.live-chat-container__header {
    background: var(--main-color);
    color: #fff;
    padding: 15px 40px 15px 20px;
}
.live-chat-container__header-close {
    background: rgba( 256, 256, 256, .2);
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .3s;
}
.live-chat-container__header-close:hover {
    transform: rotate(180deg);
}
.live-chat-container__header-close:after,
.live-chat-container__header-close:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 50%;
    background: #fff;
    top: 50%;
    left: 50%;
}
.live-chat-container__header-close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.live-chat-container__header-close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.live-chat-container__header-title {
    font-size: 16px;
    font-weight: 600;
}
.live-chat-container__header-last-active {
    font-size: 12px;
    letter-spacing: 1.15px;
    margin-bottom: 3px;
}
.live-chat-container__header-avatars img {
    margin-right: 5px;
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 50%;
}
