.live-chat-container__footer {
    background: #fbfbfb;
}
.live-chat-container__footer-header {
    border-top: 1px solid #E9EFF4;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.live-chat-container__footer-message {
    flex: auto;
    max-width: calc(100% - 65px);
    font-size: 12px;
    user-select: text;
    line-height: normal;
    word-wrap: break-word;
}
.live-chat-container__footer-message img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -3px;
}
.live-chat-container__footer-message:empty::before {
    content: attr(placeholder);
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: block;
    pointer-events: none;
}
.live-chat-container__footer-message:focus {
    outline: none;
}
.live-chat-container__footer-emoji,
.live-chat-container__footer-attachment {
    width: 30px;
    cursor: pointer;
}
.live-chat-container__footer-emoji-inner,
.live-chat-container__footer-attachment-inner {
    width: 20px;
    margin-left: auto;
    display: flex;
}
.live-chat-container__footer-emoji-inner {
    position: relative;
}
.live-chat-container__footer-emoji-inner.open-emoji-all .live-chat-container__footer-emoji-add {
    opacity: .7;
}
.live-chat-container__footer-emoji-inner.open-emoji-all .live-chat-container__footer-emoji-all {
    display: flex;
}
.live-chat-container__footer-emoji-all {
    display: none;
    position: absolute;
    width: 235px;
    right: calc(100% - 10px);
    bottom: 100%;
    box-shadow: 0 2px 34px 0 rgba(0,0,0, .1);
    background: #fff;
    overflow: hidden;
    /*border-radius: 5px;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.live-chat-container__footer-emoji-all img {
    display: inline-block;
    padding: 5px;
    width: 31px;
    transition: .3s;
}
.live-chat-container__footer-emoji-all img:hover  {
    background: #f1f1f1;
}
.live-chat-container__footer-attachment svg:hover  {
    opacity: .7;
}
.live-chat-container__footer-side-bar {
    border-top: 1px solid #E9EFF4;
    text-align: center;
    padding: 8px 20px;
    font-size: 8px;
}
