.live-chat-container__body {
    flex: auto;
    background: #fff;
    overflow-y: auto;
}
.live-chat-container__body-top-line {
    height: 10px;
    border-bottom: 1px solid #E9EFF4;
    margin-bottom: 5px;
}
.live-chat-container-chat-message {
    display: flex;
    margin-bottom: 10px;
    padding: 5px 20px;
    align-items: flex-end;
}
.live-chat-container-chat-message__img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
}
.live-chat-container-chat-message__text {
    background: var(--main-color);
    padding: 10px 15px;
    width: calc(100% - 84px);
    font-size: 12px;
    align-items: flex-end;
    color: #fff;
    border-radius: 20px;
    border-bottom-left-radius: 5px;
}
.live-chat-container-chat-message__text img {
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-top: -3px;
}
.live-chat-container-chat-message_right.live-chat-container-chat-message {
    justify-content: flex-end;
}
.live-chat-container-chat-message_right .live-chat-container-chat-message__img{
    order: 2;
    margin-right: 0;
    margin-left: 10px;
}
.live-chat-container-chat-message_right .live-chat-container-chat-message__text{
    order: 1;
    border-radius: 10px;
    border-bottom-right-radius: 5px;
    text-align: right;
    color: var(--darck-color);
    background: #F9F9F9;
}
