.table-specialist-revenue_avatar {
    width: 15%;
}
.table-specialist-revenue_name {
    width: 20%;
}
.table-specialist-revenue_date {
    width: 25%;
}
.table-specialist-revenue_time {
    width: 25%;
}
.table-specialist-revenue_cash {
    width: 15%;
}