.table-specialist-consultation__avatar {
    width: 15%;
}
.table-specialist-consultation__name {
    width: 15%;
}
.table-specialist-consultation__theme {
    width: 40%;
}
.table-specialist-consultation__date {
    width: 15%;
}
.table-specialist-consultation__time {
    width: 15%;
}