.table-specialist-payment_avatar {
    width: 15%;
}
.table-specialist-payment_name {
    width: 20%;
}
.table-specialist-payment_date {
    width: 25%;
}
.table-specialist-payment_time {
    width: 25%;
}
.table-specialist-payment_cash {
    width: 15%;
}