.chat-wrap__body {
    flex: auto;
    overflow-y: auto;
    padding: 0 20%;
}
.chat-wrap__body-message-date {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.chat-body-message {
    display: flex;
    /*width: 60%;*/
    align-items: flex-end;
    margin-bottom: 35px;
    position: relative;
}
.chat-body-message__avatar {
    width: 40px;
    margin-right: 10px;
    display: flex;
    position: relative;
}
.chat-body-message__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.chat-body-message__avatar-status {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #C9C9C9;
    border: 2px solid #fff;
}
.chat-body-message__avatar-status.chat-body-message__avatar-status_active {
    background: var(--main-color);
}
.chat-body-message__text {
    /*width: calc(100% - 40px);*/
    width: 60%;
    background: #fff;
    padding: 20px 40px;
    border-radius: 30px;
    border-bottom-left-radius: 5px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.4;
}
.chat-body-message__text img {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}
.chat-body-message__date {
    position: absolute;
    left: 50px;
    font-size: 12px;
    color: var(--grey-color);
    top: calc(100% + 4px);
}
.chat-body-message_right.chat-body-message {
    /*margin-left: auto;*/
    justify-content: flex-end;
}
.chat-body-message_right .chat-body-message__text {
    background: var(--main-color);
    color: #fff;
}
.chat-body-message_right .chat-body-message__avatar {
    margin-right: 0;
    margin-left: 10px;
    order: 2;
}
.chat-body-message_right .chat-body-message__text{
    order: 1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
}
.chat-body-message_right .chat-body-message__date {
    left: auto;
    right: 50px;
}
.chat-body-message_right .chat-body-message__avatar-status {
    left: auto;
    right: 0;
}
