.cabinet-wrap_chat-page.cabinet-wrap {
    max-height: 100vh;
}
.cabinet-wrap_chat-page .cabinet-wrap__content-inner {
    padding: 0;
    margin: 0;
    width: 100%;
}

.chat-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    /*cabinet-wrap_chat-page*/
    padding-top: 30px;
}
