.chat-wrap__footer {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    display: -webkit-inline-box;
}

.chat-wrap__footer-add-file,
.chat-wrap__footer-emoji-wrap,
.chat-wrap__footer-audio,
.chat-wrap__footer-send {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-wrap__footer-add-file svg {
    cursor: pointer;
    width: 15px;
    height: 23px;
    transition: .3s;
}
.chat-wrap__footer-add-file svg:hover  g {
    stroke: var(--main-color);
}

.chat-wrap__footer-message {
    position: relative;
    flex: auto;
    padding: 25px 30px;
    width: calc(100% - 180px);
    /*min-height: 70px;*/
    display: flex;
    align-items: center;
}
.chat-wrap__footer-message-textarea {
    word-wrap: break-word;
    width: 100%;
}
.chat-wrap__footer-message-textarea:focus {
    outline: none;
}
.chat-wrap__footer-message-textarea:empty:after {
    content: attr(placeholder);
    color: var(--grey-color);
    font-size: 14px;
    display: block;
    pointer-events: none;
}
.chat-wrap__footer-message-textarea img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: -3px 4px 0;
}
.chat-wrap__footer-message-recording {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
}
.chat-wrap__footer-message-recording-circle {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: red;
    animation: opacity 1s infinite;
}
.chat-wrap__footer-emoji-wrap {

}
.chat-wrap__footer-emoji-wrap-inner {
    position: relative;
}
.chat-wrap__footer-emoji-wrap-add {
    cursor: pointer;
}

.chat-wrap__footer-emoji-wrap-inner.open-all-emoji .chat-wrap__footer-emoji-wrap-add g {
    fill: var(--main-color);
}
.chat-wrap__footer-emoji-wrap-inner.open-all-emoji .chat-wrap__footer-emoji-all {
    display: flex;
}
.chat-wrap__footer-emoji-all {
    display: none;
    /*display: flex;*/
    position: absolute;
    width: 280px;
    right: calc(100% - 10px);
    bottom: 100%;
    box-shadow: 0 2px 34px 0 rgba(0,0,0, .1);
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}
.chat-wrap__footer-emoji-all img {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}
.chat-wrap__footer-emoji-all img:hover  {
    background: #f1f1f1;
}

.chat-wrap__footer-audio {

}
.chat-wrap__footer-audio svg {
    cursor: pointer;
}
.chat-wrap__footer-audio svg:hover g {
    fill: var(--main-color);
}

.chat-wrap__footer-send {
    background: var(--main-color);
    transition: .3s;
    cursor: pointer;
}
.chat-wrap__footer-send:hover {

}
