.chat-wrap__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*cabinet-wrap_chat-page*/
    width: 80%;
    margin: 0 auto 30px;
}

.chat-wrap__header-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.chat-wrap__header-time {
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}

.chat-wrap__header-audio,
.chat-wrap__header-video,
.chat-wrap__header-more {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    max-height: 20px;
    border: none;
    background: none;
}
.chat-wrap__header-audio:focus,
.chat-wrap__header-video:focus,
.chat-wrap__header-more:focus {
    outline: none;
}
.chat-wrap__header-audio:hover svg g,
.chat-wrap__header-video:hover svg g,
.chat-wrap__header-more:hover svg g{
    fill: var(--main-color);
}
.chat-wrap__header-more {
    margin-right: 0;
}
